#imagelabel{
    margin:0 auto;
}
#imagelabelcontainer{
    position: absolute;
    height:100%;
    width:100%;
    padding:2%;  
}

#buttonset{
    position: relative;
    padding: 5%;
    vertical-align: middle;
}
#container{
    position: absolute;
    height:90%;
    width:100%;
    bottom:0;
}
#topbar{
    position: relative;
}
#left{
    position:absolute;
    width:80%;
    height:95%;
}
#right{
    position:absolute;
    right:0;
    width:20%;
    height:95%;
}